
<header>
  <h1><a href="/" class="nochange">everything books.</a></h1>
  <hr/>
  <nav>
    <ul>
      <a href="/dashboard" class="nochange">start reading.</a> &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;
      <a href="/profile/new" class="nochange">your profile.</a>
    </ul>
  </nav>
  <hr/>
</header>



