
<header>
  <h1><a href="/" class="nochange">Everything Books</a></h1>
  <hr/>
  <nav>
    <ul>
      <a href="/dashboard" class="nochange">Start Reading</a> &nbsp;
      <a href="/profile/new" class="nochange">Update Profile</a>
    </ul>
  </nav>
  <hr/>
</header>
