<h1>Welcome to the Dashboard</h1>

<h2>Choose your area of interest:</h2>
<form>
  <label for"weather">weather:</label>
 <input type="checkbox" name="weather" id="weather" value="weather"/>
    <br></br>

     <label for"twitter">twitter:</label>
 <input type="checkbox" name="twitter" id="twitter" value="twitter"/>
    <br></br>


     <label for"new_york_times">New York Times:</label>
 <input type="checkbox" name="new_york_times" id="new_york_times" value="new_york_times"/>
    <br></br>
     <input type="submit" value="Select"/>
  </form>
  <br></br>
<br></br>
 <a href="/">Login with LinkedIn</a>

