<h1>Welcome to the Dashboard</h1>

<h2>Feed your interest:</h2>
<form>
  <label for"idream_books">iDreamBooks Reviews:</label>
 <input type="checkbox" name="idream_books" id="idream_books" value="idream_books"/>
    <br></br>

     <label for"twitter">TwitterBooks:</label>
 <input type="checkbox" name="twitter" id="twitter" value="twitter"/>
    <br></br>


     <label for"new_york_times">New York Times Best Sellers:</label>
 <input type="checkbox" name="new_york_times" id="new_york_times" value="new_york_times"/>
    <br></br>
    <label for"book_browse_news">BookBrowse News:</label>
 <input type="checkbox" name="book_browse_news" id="book_browse_news" value="book_browse_news"/>
    <br></br>
     <input type="submit" value="Select"/>
  </form>
  <br></br>
<br></br>
 <!-- <a href="/">Login with LinkedIn</a> -->

