<!doctype html>

<html>
    <head>
       <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
       <link href='https://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
       <link href="reset.css" rel="stylesheet" type="text/css" media="all">
       <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
        <title>everything books</title>
    </head>
  <body>
      <header>
        <%= render(:erb, :_header) %>
      </header>
      <%= yield %>
  </body>
      <footer><br></br><a href="/">home.</a><br></br><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://booksdashboa.rd" data-text="Books Dashboard" data-count="none" data-hashtags="booksdashboard">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
      </footer>
</html>
