<br></br>
<br></br>
<h2>New York Times Bestsellers</h2>
<% @parsed_version["results"].each do |book| %>
<% book["book_details"].each do |info| %>
<ul>
<%= info["title"] %>
<br></br>
<%= info["author"] %>
<br></br>
<%= info["description"] %>
<br></br>
<%= info["publisher"] %>
</ul>
<% end %>
<% end %>
<br></br>
<br></br>
