<section>
  <h1>Update Your Profile</h1>

  <form method="POST" action="/feeds">

    <label for="user_name">Full Name:</label>
    <input type="text" name="user_name" id="user_name" /> &nbsp;

    <label for="email">Email Address:</label>
    <input type="text" name="email" id="email" /> &nbsp;

    <label for="image_url">Upload Your Photo:</label>
    <input type="text" name="image_url" id="image_url" />
    <br></br>


    <label for"ny_times">New York Times Best Sellers List</label>
    <input type="checkbox" name="ny_times" id="ny_times" />
    <br></br>

    <label for"twitter_books">TwitterBooks</label>

    <input type="checkbox" name="twitter_books" id="twitter_books" />
    <br></br>

    <label for"idream_books">iDreamBooks Reviews</label>
    <input type="checkbox" name="idream_books" id="idream_books" />
    <br></br>

    <label for"book_browse_news">BookBrowse News</label>
    <input type="checkbox" name="book_browse_news" id="book_browse_news"  />
    <br></br>

    <input type="submit" value="Update" />
  </form>
</section>
