<p>The current temperature is <%= @temp_in_farh %> degrees.</p>
<br></br>
<br></br>
<section>
  <br></br>
<h1>Profiles</h1>
<% @id %>
  <br></br>
  <ul>
    <li>Name: <%= @selected_profile[:name] %></li>
    <li>Email: <%= @selected_profile[:email] %></li>
  </ul>
</section>

