<section>
  <h1>Update Your Profile</h1>
    <form>
      <form method="POST" action="/profile/new">
      <label for="user_name">Full Name:</label>
      <input type="text" name="user_name" id="user_name" /> &nbsp;

      <label for="email">Email Address:</label>
      <input type="text" name="email" id="email" /> &nbsp;

      <label for="image_url">Upload Your Photo:</label>
      <input type="text" name="image_url" id="image_url" />
      <br></br>

      <label for"ny_times">New York Times Best Sellers List</label>
      <input type="checkbox" name="ny_times" value="true" id="ny_times_yes" checked />
      <br></br>

      <label for"twitter">TwitterBooks</label>
      <input type="checkbox" name="twitter" value="true" id="twitter_yes" checked />
      <br></br>

      <label for"idream_books">iDreamBooks Reviews</label>
      <input type="checkbox" name="idream_books" value="true" id="idream_books_yes" checked />
      <br></br>

      <label for"book_browse_news">BookBrowse News</label>
      <input type="checkbox" name="book_browse_news" value="true" id="book_browse_news" checked />
      <br></br>

      <input type="submit" value="Submit" />

    </form>
</section>
