body {
  background: url(http://i.imgur.com/AxyMvpe.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




body {
text-align: center;
font-family: 'Playfair Display', serif;
font-size: 25px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 32px;
}

p {
  font-weight: bold;
  font-size: 28px;
}

#ny_times {
  background: rgba(184,184,184,.8);
  border-radius: 20px;
}


#twitter_books {
  background: rgba(184,184,184,.8);
  border-radius: 20px;
}


#idream_books {
  background: rgba(184,184,184,.8);
  border-radius: 20px;
}


#book_browse_news {
  background: rgba(184,184,184,.8);
  border-radius: 20px;
}

