
a:link {
    text-decoration: none;
    color: rgb(0,0,0);
    background-color: rgb(248,248,248)
}

a:visited {
    color: rgb(0,0,0);
}

header {
  font-weight: bold;
  text-align: left;
  font-family: 'Special Elite', cursive;
}

body {
  background: url(http://i.imgur.com/AxyMvpe.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




body {
text-align: center;
font-family: 'Francois One', sans-serif;
font-size: 25px;
}

h1 {
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  font-size: 32px;
}

p {
  font-weight: bold;
  font-size: 28px;
}

#ny_times {
  background: rgba(184,184,184,.8);
  border-radius: 20px;
}


#twitter_books {
  background: rgba(184,184,184,.8);
  border-radius: 20px;
}


#idream_books {
  background: rgba(184,184,184,.8);
  border-radius: 20px;
}


#book_browse_news {
  background: rgba(184,184,184,.8);
  border-radius: 20px;
}


#profile_info_form {
  background: rgba(184,184,184,.8);
  border-radius: 20px;
}


#profile_display {
  background: rgba(184,184,184,.8);
  border-radius: 20px;
  font-weight: bold;
}


#weather {
  text-align: left;
  color: rgba(0,0,0,.5);
  font-weight: bold;
  font-size: 25px;
}

#weather a:link {
  color: rgba(0,0,0,.5);
}

#login a:link{
  color: rgb(0,0,0);
  font-weight: bold;
}


